.section-academics{
    &__heading{
        height: 40rem;
        width: 100vw;   
        margin: 2rem auto;
        text-align: center;
        margin-top: -10rem;

        h2{
            padding-top: 11rem; 
             margin-bottom: 1rem;
            color: #feb249;        
        } 
        h1{
            font-size: 4rem;
            color: #feb249;
            margin-bottom: 1rem;
        }
    }
        
    &__cards{
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-evenly; 
        margin-top: -15rem;
    }
}

.acadamics__card{ 
    width: 19vw;     
    height: 24vw;  
    text-decoration: none; 
    margin-right: 2rem;      
    min-width: 25rem;  
    min-height: 38rem;  
    padding-bottom: .5rem;      
    margin-bottom: 3rem; 
    background-color: #fff; 
    box-shadow: 3px 5px 10px black;
    border: 3px solid #fff;
    overflow: hidden; 
    backface-visibility: hidden;   
    &__content{
        color:#002447;
        display: flex;
        flex-direction: column;
        height: 30%;
        padding: 1rem;
        align-content: space-between;

        h2{
            flex: 1;
            align-self: flex-start;  
        }
        p{
            border-top: 1px solid #002447;
            font-size: 2rem;
            font-weight: 500;
            padding: .5rem 0;  
            color:rgb(95, 9, 9);;
        }
    }
    &-img-container {
        height:70%;   
        position: relative; 
    }
    &-img{   
        object-fit: cover;  
        height: 100%;
    }   

    &-img-caption { 
        position: absolute; 
        width: 21vw;                           
        top: 50%;
        left: 50%;     
        transform: translate(-50%,20%);
        color: white;  
        text-transform: uppercase;  
        letter-spacing: 2px;        
        font-size: 2rem;
        font-weight: 700;  
        text-align: center; 
        opacity: 0; 
        transition: all .1s;  
        backface-visibility: hidden;
    }

    &:hover{   
        transform: scale(1.01) translateY(-7%);  
    }
    &:hover &-img {  
        filter: blur(3px) brightness(65%);  
    }  
    &:hover &-img-caption {
        opacity: 1; 
    }

}    
