

.btn-full {
    border: none;
    padding: 1rem;  
    border-radius: 10rem;
     color: white; 
    width: 19rem;      
    height: 4rem;            
    font-size: 1.5rem;       
    position: relative;      

    .btn--join { 
        position: absolute;      
        letter-spacing: 1.5px; 
        left: 1rem;             
        top: -2rem;    
        opacity: 0;  
        transition: all .3s;         
    }   
    .btn--contact {   
        position: absolute;
        letter-spacing: 1.5px;  
        font-weight: 700;   
        font-size: large;       
        left:5rem;                       
        top: 1rem;     
        opacity: 1;   
        transition: all .3s;         
    }  
    &:hover {  
       
        .btn--join { 
            position: absolute;
            left: 2.5rem;       
            top: 1rem;     
            opacity: 1;          
        }  
        .btn--contact { 
            position: absolute;
            left: 3.8rem;       
            top: 3rem;    
            opacity: 0;           
        }  

    }
    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}        



.btn-basic {
    color: #002447;     
    border: none;      
    border-bottom: 1px solid currentColor;  // current color ... so that we have common color for both text and the border
    cursor: pointer;
    display: block; 
    background-color: transparent;
    transition: all .2s;
    font-weight: 600;
    padding-bottom: .5rem; 

    & span {
        margin-left: .5rem;    
        transition: margin-left .2s; 
    }

    &:hover { 
        color: #6f54ad;
        transform: scale(1.1);        
    }                     

     &:hover span { 
         margin-left: 1.2rem;   
     }
    &:focus { 
        outline: none;
        animation: pulsate 1s infinite;
    }

} 

