.section-documents{
    background-image: linear-gradient(to right,rgba(black,0.82) 45%,rgba(black,0.6) 70%),url(../../resources/images/sectionimg.jpg);
    min-height: 60rem; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    padding: 3rem;
    display: flex;  
    align-content: center; 
    overflow: hidden;
}   

.documents{      
    display: grid;  
    grid-template-columns: repeat(auto-fit,minmax(50rem,1fr));    
    color: white;     
    grid-gap: 3rem; 
    align-items: center;
    justify-items: center; 
    

    &__script{
        min-width: 50rem;   
         font-weight: 500;
        color: white;
        font-size: 2rem;
        font-style: italic;
        width: 90%; 
        text-align: center;
    }

   

    &__document {
        height: 50%; 
        width: 90%;     
        min-width: 40rem;  
        min-height: 15rem;   
        border-radius: 5px;

        &--1{
            background-image:linear-gradient(120deg, rgb(17, 78, 17) 50%,rgb(33, 43, 16) 50%);
           
        }
        &--2{
            background-image:linear-gradient(60deg, rgb(33, 43, 16) 50%,rgb(17, 78, 17) 50%);
        
        }
    }
}




// .documents__container{
//     display: flex;
//     flex-wrap: wrap;
  
//     margin: 3rem;


//     &__script{
//         min-width: 50rem;   
//          font-weight: 500;
//         color: white;
//         font-size: 2rem;
//         font-style: italic;
//         width: 55%;
//         text-align: center;
//     }

//     &__documents{
//         width: 45%;
//         align-self: center;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         &--1{
//             background-image:linear-gradient(120deg, rgb(17, 78, 17) 50%,rgb(33, 43, 16) 50%);
//             height: 15rem;
//             width: 35rem;
//             border-radius: 5px;
//         }
//         &--2{
//             background-image:linear-gradient(60deg, rgb(33, 43, 16) 50%,rgb(17, 78, 17) 50%);
//             height: 15rem;
//             width: 35rem;
//             border-radius: 5px;
//         }
//     }
//}
.quote-1{
    font-size: 3rem;
    font-weight: 600;
    font-style:normal;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.quote-2{
    font-size: 3.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}