.section-locations{
    
    perspective: 3500px;      
    text-align: end;    

        &__heading  {
            display: block;
            margin-right: 8vw;        
           margin-bottom: 8rem;    
        }  

        &__btn-show-all {
            margin: 9rem 12vh 0 auto; 
            font-size: 2rem;           
        }

} 
.locations{ 
    display: flex;    
    transform: rotateY(-30deg); 
    border-radius: 8px;
    width: min-content;
    transition: all ease;    
}

.location{ 
    font-size: 22px;
    box-shadow: 0px 0px 20px #999;
    width: 24vw;  
    height: 23vw;           
    transform: rotateY(30deg); 
    transition: all 10s ease-in;  

    &__back--btn {
        margin-top: 1rem; 
        background-image: linear-gradient(to right,rgb(39, 117, 180),rgb(82, 9, 9)); 
        transform: rotateY(40deg);

        &:hover  {
            background-image: linear-gradient(to left,rgb(39, 117, 180),rgb(82, 9, 9)); 
   
        }
     }  

    &--1 {
        background-image: linear-gradient(to bottom right , rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                        url(../../resources/images/l1.jpg);
        background-size: cover; 
        background-position: top; 
    }
    &--2 {
        background-image: linear-gradient(to bottom right , rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                        url(../../resources/images/l2.jpg);
        background-size: cover; 
        background-position: top; 
    }
    &--3 {
        background-image: linear-gradient(to bottom right , rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                        url(../../resources/images/l4.jpg);
        background-size: cover; 
        background-position: top; 
    }
    &--4 {
        background-image: linear-gradient(to bottom right , rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                        url(../../resources/images/l1.jpg);
        background-size: cover; 
        background-position: top; 
    }
    &--5 {
        background-image: linear-gradient(to bottom right , rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                        url(../../resources/images/l2.jpg);
        background-size: cover; 
        background-position: top;     
    }
           
    &__caption--front { 
        position: absolute; 
        width: 21vw;                           
        top: 50%;
        left: 50%;     
        transform: translate(-50%,20%);
        color: white;  
        text-transform: uppercase;  
        letter-spacing: 2px;        
        font-size: 2rem;
        font-weight: 700;  
        text-align: center; 
        opacity: 1; 
        transition: all .1s;  
        backface-visibility: hidden;
    }

    &__caption--back{ 
        position: absolute; 
        width: 21vw;                           
        top: 30%; 
        left: 50%;     
        transform: translate(-50%,20%); 
           padding: 2rem; 
           color: white;  
           text-transform: uppercase;       
           font-size: 2rem;
           font-weight: 700;  
           text-align: center; 
           opacity: 0;
           width: 100%; 
           transition: all .1s;   
    }

    &:hover{
        cursor: pointer;
        background-image: linear-gradient(to bottom right,rgb(118, 93, 228),rgb(2, 3, 63));
    }
 
    &:hover &__caption--front  {
        opacity: 0;
    }
    &:hover &__caption--back  {
        opacity: 1;  
    }
    
}


.location__image {
    height: 100%;
    width: 100%;
    filter: brightness(70%);    
}
