.section-newsfeed{
    background-color: white;
    height: 65rem;
   // height: max-content;
    width: 96vw;   
    position: relative;
    padding: 0;
    margin: 0;    

    &__header{
        width: max-content;
        margin-left: 55vw;         
        padding: 2rem;
        text-align: center;
        h2{
            font-size: 5rem;
            color: #8b0000;
            font-weight: 400;
            @media only screen and (max-width: 32em)  { 
                font-size: 3rem; 
            }
        }
        h3{ 
            text-transform: uppercase;
            color: #8b0000;      
            display: inline-block;
            margin: 0 auto;  
            @media only screen and (max-width: 32em)  { 
                font-size: 2rem;        
            }
        }
    } 

    &__button{
        font-size: 3rem; 
        position: absolute;
        top: 84%;
        left: 2%;  
        color: #8b0000;
        text-decoration: none;
    }
}
.section-newsfeed__containers{
    position: absolute;
    top: 48%;
    left: 55.5%;                               
    transform: translate(-50%,-50%);
    height: 44rem;
    width: 78rem;    
    padding: 2rem; 
    overflow: hidden ;    

    @media only screen and (max-width: 32em)  { 
        height: 43rem;          
        width: 60rem;  
    }


}
       
.section-newsfeed__container{
    height: 100%;
    width: 100%; 
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    visibility: hidden;

    &__image{
        height: calc(100% - 8.4rem);  
        width: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 1px 2px 2px rgba($color: #000000, $alpha: 0.8);

        &--1 {  background-image: linear-gradient(to left,#8b000036,#8b00002a),url(../../resources/images/n1.jpg); }
        &--2 {  background-image: linear-gradient(to left,#8b000036,#8b00002a),url(../../resources/images/n2.jpg); }
        &--3 {  background-image: linear-gradient(to left,#8b000036,#8b00002a),url(../../resources/images/n3.jpg); }
    }  
       
    &__news{
        height: calc(100% - 8rem);
        width:50% ;
        border: 2px solid #8b0000;
        padding: 3rem 3rem 3rem 8rem;
        margin-left: -6rem;
        margin-top:6rem;
        position:  relative;

        p {
            display: inline-block;

        }
      
    }

}
 
.pre,.next{
    height: 6rem;
    width: 3rem;
    border: none;
    position: absolute;
    cursor:  pointer; 
    background-color: #8b0000;  
    svg { 
        height: 100%; 
        margin-top: -2px; 
        fill: white;         
    } 

     
    :hover {background-color: #a73838;}
    
}
.pre {
    bottom: 0;
    left: 0;  
   
}
.next{       
    left: 2.9rem;  
    bottom: 0;     
}

#c1:checked ~ #one,
#c2:checked ~ #two,
#c3:checked ~ #three{
    z-index: 9;
    visibility: visible;
}
 

    
    
        

  