.section-newsfeed{
    background-color: white;
    height: 65rem;
   // height: max-content;
    width: 100vw;
    position: relative;
    padding: 0;
    margin: 0;

    &__header{
        width: max-content;
        margin-left: 50%;
        padding: 2rem;
        text-align: center;
        h2{
            font-size: 5rem;
            color: #8b0000;
            font-weight: 400;
        }
        h3{
            text-transform: uppercase;
            color: #8b0000;
        }
    }

    &__button{
        font-size: 3.5rem;
        position: absolute;
        top: 72%;
        left: 25%;
        color: #8b0000;
        text-decoration: none;
    }
}
.section-newsfeed__containers{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 44rem;
    width: 80rem;
    overflow: hidden;
}

.section-newsfeed__container{
    height: 100%;
    width: 100%;
    position: relative;
    &__1{
        height: 100%;
        width: 100%;
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        visibility:  hidden;
        &__image{
            height: calc(100% - 8rem);
            width: 50%;
            background-image: url(../../resources/images/a3.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: 1px 2px 2px rgba($color: #000000, $alpha: 0.8);
        }
        &__news{
            height: calc(100% - 8rem);
            width:50% ;
            border: 2px solid #8b0000;
            padding: 3rem 3rem 3rem 8rem;
            margin-left: -6rem;
            margin-top:6rem;
            position:  relative;
            
        }
    }

    &__2{
        height: 100%;
        width: 100%;
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        visibility: hidden;
        &__image{
            height: calc(100% - 8rem);
            width: 50%;
            background-image: url(../../resources/images/a4.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: 1px 2px 2px rgba($color: #000000, $alpha: 0.8);
        }
        &__news{
            height: calc(100% - 8rem);
            width:50% ;
            border: 2px solid #8b0000;
            padding: 3rem 3rem 3rem 8rem;
            margin-left: -6rem;
            margin-top:6rem;
            position:  relative;
            &__button{
                height: 6rem;
                width: 6rem;
                background-color: #8b0000;
                border: none;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }

    &__3{
        height: 100%;
        width: 100%;
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        visibility: hidden;
        &__image{
            height: calc(100% - 8rem);
            width: 50%;
            background-image: url(../../resources/images/a2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: 1px 2px 2px rgba($color: #000000, $alpha: 0.8);
        }
        &__news{
            height: calc(100% - 8rem);
            width:50% ;
            border: 2px solid #8b0000;
            padding: 3rem 3rem 3rem 8rem;
            margin-left: -6rem;
            margin-top:6rem;
            position:  relative;
            &__button{
                height: 6rem;
                width: 6rem;
                background-color: #8b0000;
                border: none;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}
.pre,.next{
    height: 6rem;
    width: 3rem;
    border: none;
    position: absolute;
    cursor:  pointer;
    
}
.pre{
    bottom: 0;
    left: 0;
    background-color: #8b0000;
}
.next{
    bottom: 0;
    left: 3rem;
    background-color: pink ;
}

#c1:checked ~ #one,
#c2:checked ~ #two,
#c3:checked ~ #three{
    z-index: 9;
    visibility: visible;
}
 

    
    
        

