.section-newsfeed{
    //background-color: #e2d1a6;
}
.section-newsfeed{
    display: flex;
    flex-wrap: wrap;
    margin: 15rem auto;
    justify-content: space-around;
}

.newsfeed__smallcontainer{
    
}

.newsfeed__smallcontainer--1,
.newsfeed__smallcontainer--2,
.newsfeed__smallcontainer--3{
    figure{
        height: 15rem;
        width: 15rem;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.newsfeed__smallcontainer--1{
    //border-top: 5px solid #feb249;
    //border-bottom:5px solid #feb249;
    background-color: #feb249;
    margin-left: 4rem;
}

.newsfeed__smallcontainer--2{
    //border-top: 5px solid rgb(126, 22, 22);
    //border-bottom:5px solid rgb(126, 22, 22);
    background-color: rgb(126, 22, 22);
}

.newsfeed__smallcontainer--3{

}

.smallcontainer__img{
    height: 100%;
    width: 100%;
}








.newsfeed__bigcontainer{
    display: flex;
    width: 40%;
}
.newsfeed__bigcontainer__news{
    width: 50%;
    height: 40rem;
    border-top: 5px solid #002447;
    border-bottom: 5px solid #002447;
    border-right: 5px solid #002447;
    position: relative;
    //-webkit-clip-path: polygon(0 0, 0 20%, 80% 20%, 80% 30%, 0 30%, 0 40%, 80% 40%, 80% 90%, 0 90%, 0 100%, 100% 100%, 100% 0);
   // clip-path: polygon(0 0, 0 20%, 80% 20%, 80% 30%, 0 30%, 0 40%, 80% 40%, 80% 90%, 0 90%, 0 100%, 100% 100%, 100% 0);
    margin-right: 5%;
    &::after{
        content: "";
        width: 5px;
        height: 15%;
        position: absolute;
        top: 0;
        left:0;
        background-color: #002447;
    }
    &::before{
        content: "";
        width: 5px;
        height: 12%;
        position: absolute;
        top: 25%;
        left:0;
        background-color: #002447;
    }
}
.newsfeed__bigcontainer__img{
    position: relative;
    &::before{
        content: "";
        width: 5px;
        height: 10%;
        position: absolute;
        bottom: 0;
        left: -111%;
        background-color: #002447;

    }
    background-image: linear-gradient(#002447 0%,rgba(#002447,.5) 50%,#002447 100%),url(../../resources/images/l2.jpg);
    width: 50%;
    height: 40rem;
    background-position: center;
    background-size: cover;
}
.newsbig__h3{

    position: absolute;
    left: -3rem;
    top: 6.5rem;
    color: #002447;
    text-transform: uppercase;
    padding-right: 8rem;
}
.newsbig__p{
    position: absolute;
    top: 16rem;
    left: -3rem;
    color: #002447;
    padding-right: 3.5rem;
}
