/*------------------------ Basic setup ----------------------------------*/
*,
*::after,
*::before {
  /* ----- to set all the elements a common constraints ---*/
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* to make the whole typogrphy in relation, we use "rem" which is x times of root font size
      we use 10px as root font size for easy manipulation of whole px calculation
      if we want 70px element we give it as 7rem where its value is 70px i.e 7*10px(root font size)
      lest now make it into percentage where regular default fontsize of browser is 
      16px so , 16px as 100% then 10px is 62.5% */
  font-size: 62.5%;
  /* 10px */ }

body {
  box-sizing: border-box;
  padding: 2.5rem; }

body {
  /* we specify base font attributes in body as the font attributes inherit from parent 
        and body is on top of hirearchy and and all the child elements gets inherited with the properties declared 
        in body selector */
  font-family: "Lato" ,"Arial", sans-serif;
  font-weight: 400;
  font-size: 1.6rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: .5rem;
    animation-name: moveInLeft 2s ease-In; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 2s ease-out; }

.header {
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../../resources/images/header-p3.jpg);
  background-size: cover;
  background-position: left;
  display: grid;
  grid-template-rows: min-content 1fr  1fr min-content min-content 1fr;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  height: 95vh; }
  .header__logo-container {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 2rem;
    justify-self: start;
    border-radius: 10px; }
  .header__logo {
    height: 4.8rem; }
  .header__text--main {
    justify-self: center; }
  .header__text-seperator {
    display: grid;
    grid-template-columns: 10rem max-content 10rem;
    align-items: center;
    justify-self: center;
    grid-gap: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .1rem;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.4); }
    .header__text-seperator::before, .header__text-seperator::after {
      align-self: center;
      content: "";
      display: inline-block;
      height: .1rem;
      background-color: currentColor; }

.navigation {
  height: 0; }
  .navigation__checkbox {
    visibility: hidden; }
  .navigation__button {
    background-color: #fff;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
  .navigation__background {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.2rem;
    z-index: 1000;
    transition: transform .8s; }
  .navigation__nav {
    height: 0vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(32, 24, 24, 0.9), rgba(15, 8, 8, 0.9)), url(../../resources/images/navigation-bg.jpg);
    z-index: 1500;
    opacity: 0;
    width: 100vw;
    transition: all 0.8s cubic-bezier(1, 0.04, 0.44, 1.25); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 300;
    padding: .3rem 2rem;
    color: #fff;
    text-transform: uppercase;
    background-image: linear-gradient(130deg, transparent 0%, transparent 50%, white 50%);
    background-size: 230%;
    transition: all .3s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1rem; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    transform: translateX(1rem);
    color: red; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    visibility: visible;
    height: 100vh; }
  .navigation__icon {
    position: relative;
    margin-top: 2.6rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: .22rem;
      background-color: #000;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::after {
      top: -.7rem; }
    .navigation__icon::before {
      top: .7rem; }
  .navigation__button:hover .navigation__icon::before {
    top: .9rem; }
  .navigation__button:hover .navigation__icon::after {
    top: -.9rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
    .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
      top: 0rem;
      transform: rotate(135deg); }
    .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
      top: 0rem;
      transform: rotate(-135deg); }
