/*------------------------ Basic setup ----------------------------------*/
*,
*::after,
*::before {
  /* ----- to set all the elements a common constraints ---*/
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* to make the whole typogrphy in relation, we use "rem" which is x times of root font size
      we use 10px as root font size for easy manipulation of whole px calculation
      if we want 70px element we give it as 7rem where its value is 70px i.e 7*10px(root font size)
      lest now make it into percentage where regular default fontsize of browser is 
      16px so , 16px as 100% then 10px is 62.5% */
  font-size: 62.5%;
  /* 10px */ }

body {
  box-sizing: border-box; }

body {
  /* we specify base font attributes in body as the font attributes inherit from parent 
        and body is on top of hirearchy and and all the child elements gets inherited with the properties declared 
        in body selector */
  font-family: "Lato" ,"Arial", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  /* line height 1.7 meaans .. 1.7 times of pre defined height. */
  line-height: 1.7; }

@keyframes header-slider {
  0%, 100% {
    background-image: url(../../resources/images/header-p1.jpg); }
  25% {
    background-image: url(../../resources/images/header-p2.jpg); }
  50% {
    background-image: url(../../resources/images/header-p3.jpg); }
  75% {
    background-image: url(../../resources/images/header-p1.jpg); } }

.header {
  height: 100vh;
  background-image: url(../../resources/images/header-p2.jpg);
  background-size: cover;
  background-position: left;
  animation: header-slider 25s infinite; }

.logo-container {
  margin: 2rem;
  background-color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  border-radius: 10px; }

.logo {
  height: 4.8rem; }
