/*------------------------ Basic setup ----------------------------------*/
*,
*::after,
*::before {
  /* ----- to set all the elements a common constraints ---*/
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* to make the whole typogrphy in relation, we use "rem" which is x times of root font size
      we use 10px as root font size for easy manipulation of whole px calculation
      if we want 70px element we give it as 7rem where its value is 70px i.e 7*10px(root font size)
      lest now make it into percentage where regular default fontsize of browser is 
      16px so , 16px as 100% then 10px is 62.5% */
  font-size: 62.5%;
  /* 10px */ }

body {
  box-sizing: border-box; }

body {
  /* we specify base font attributes in body as the font attributes inherit from parent 
        and body is on top of hirearchy and and all the child elements gets inherited with the properties declared 
        in body selector */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: .5rem;
    animation-name: moveInLeft 2s ease-In; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.7rem;
    animation: moveInRight 2s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  word-spacing: 1rem;
  display: inline-block;
  background-image: linear-gradient(to right, #8b2257, rgba(20, 9, 68, 0.952));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

@keyframes text-main {
  0% {
    margin-bottom: -5rem;
    opacity: 0; }
  55% {
    letter-spacing: 1rem;
    margin-bottom: -3rem;
    opacity: 0; }
  70% {
    letter-spacing: 1.2rem;
    margin-bottom: -2rem; }
  100% {
    letter-spacing: .5rem; } }

@keyframes text-sub {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  95% {
    opacity: 1; } }

.header {
  height: 98vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(../../resources/images/header-p3.jpg);
  filter: brightness(150%);
  background-size: cover;
  background-position: left;
  display: grid;
  grid-template-rows: min-content 1fr  min-content min-content min-content 1fr;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); }
  .header__logo-container {
    background-color: rgba(255, 255, 255, 0.8);
    filter: brightness(80%);
    margin: 3vh;
    justify-self: start;
    border-radius: 10px; }
  .header__logo {
    height: 4.8rem; }
  .header__text--main {
    justify-self: center;
    animation: text-main 6.5s; }
  .header__text-seperator {
    display: grid;
    grid-template-columns: minmax(11rem, min-content) max-content minmax(12.5rem, min-content);
    align-items: center;
    justify-self: center;
    grid-gap: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: .1rem;
    animation: text-sub 6.5s; }
    .header__text-seperator::before, .header__text-seperator::after {
      align-self: center;
      content: "";
      display: inline-block;
      height: .5px;
      transition: all .2s;
      background-color: white; }
    .header__text-seperator:hover::before {
      transform: scaleX(1.2) translateX(-2rem);
      cursor: pointer; }
    .header__text-seperator:hover::after {
      transform: scaleX(1.2) translateX(2rem);
      cursor: pointer; }

.navigation {
  font-family: 'Josefin Sans', sans-serif;
  height: 0; }
  .navigation__checkbox {
    visibility: hidden; }
  .navigation__button {
    background-color: #fff;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 4vh;
    right: 5vw;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
  .navigation__background {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.2rem;
    z-index: 1000;
    transition: transform .8s; }
  .navigation__nav {
    height: 0vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(32, 24, 24, 0.9), rgba(15, 8, 8, 0.9)), url(../../resources/images/navigation-bg.jpg);
    z-index: 1500;
    opacity: 0;
    width: 100vw;
    transition: all 0.8s cubic-bezier(1, 0.04, 0.44, 1.25); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    list-style: none;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 300;
    padding: .3rem 2rem;
    color: #777070;
    text-transform: uppercase;
    background-image: linear-gradient(130deg, transparent 0%, transparent 50%, white 50%);
    background-size: 230%;
    transition: all .3s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1rem; }
  .navigation__link:hover, .navigation__link:active {
    border-bottom: .5rem solid cornsilk;
    transform: translateX(2.5rem);
    color: #fff; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    visibility: visible;
    height: 100vh; }
  .navigation__icon {
    position: relative;
    margin-top: 2.6rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: .22rem;
      background-color: #000;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::after {
      top: -.7rem; }
    .navigation__icon::before {
      top: .7rem; }
  .navigation__button:hover .navigation__icon::before {
    top: .9rem; }
  .navigation__button:hover .navigation__icon::after {
    top: -.9rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
    .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
      top: 0rem;
      transform: rotate(135deg); }
    .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
      top: 0rem;
      transform: rotate(-135deg); }

/*
0-600px   phone
600 -900px  tablets portrait
900 - 1200px tablet landscape 
1200 - 1800  where our normal styles apply
1800px + big screens
@break point argument choices
-phone
-tab-port
-tab-land
-big-desktop
ORDER - base + typography + genreal layouts + grid  > page layout > components
*/
.section + -about {
  margin-top: -10rem;
  margin-bottom: 5rem;
  padding: 11rem 2rem 2vw 2rem;
  background-image: linear-gradient(to bottom, #ECEFF1, #ECEFF1);
  background-size: cover;
  overflow: hidden; }

.section-locations {
  overflow: hidden;
  padding: 6rem 0 4rem 0;
  background-image: linear-gradient(to bottom, #ECEFF1, #ECEFF1);
  -webkit-clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 85%);
  clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 88%); }

.rdd {
  height: 100vh; }

.section-about {
  text-align: center; }
  .section-about__heading {
    border-bottom: 0.2px solid rgba(20, 9, 68, 0.952);
    margin-bottom: 4rem;
    display: inline-block; }
    @media only screen and (max-width: 68.5em) {
      .section-about__heading {
        margin-bottom: 1rem; } }

.about {
  display: grid;
  grid-template-columns: repeat(2, 50%); }
  @media only screen and (max-width: 68.5em) {
    .about {
      grid-template-columns: 1fr; } }
  .about > * {
    margin: 3rem; }
  .about__content-detail {
    text-align: start;
    margin-bottom: 2rem; }
    .about__content-detail h3 {
      display: inline-block;
      font-size: 3rem;
      margin-bottom: 1rem; }

.composition {
  position: relative;
  transition: all .2s;
  margin-top: 5rem;
  margin-left: 5rem;
  width: 80%; }
  .composition__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 68.5em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.3333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 1rem;
      top: -1rem; }
      @media only screen and (max-width: 68.5em) {
        .composition__photo--p1 {
          top: 0; } }
    .composition__photo--p2 {
      right: 2rem;
      top: 1rem; }
      @media only screen and (max-width: 68.5em) {
        .composition__photo--p2 {
          top: -1rem;
          z-index: 200;
          transform: scale(1.2); } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media only screen and (max-width: 68.5em) {
        .composition__photo--p3 {
          top: 0;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.1rem solid rgba(65, 8, 22, 0.95);
      transform: scale(1.03) translateY(-5px);
      box-shadow: 0rem 3rem 6rem rgba(0, 0, 0, 0.4);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.section-locations {
  perspective: 3500px;
  text-align: end; }
  .section-locations__heading {
    display: block;
    margin-right: 8vw;
    margin-bottom: 6rem; }
  .section-locations__btn-show-all {
    margin: 9rem 12vh 0 auto;
    font-size: 2rem; }

.locations {
  display: flex;
  transform: rotateY(-30deg);
  border-radius: 8px;
  width: min-content;
  transition: all ease; }

.location {
  font-size: 22px;
  box-shadow: 0px 0px 20px #999;
  width: 24vw;
  height: 23vw;
  transform: rotateY(30deg);
  transition: all 10s ease-in; }
  .location__back--btn {
    margin-top: 1rem;
    background-image: linear-gradient(to right, #2775b4, #520909);
    transform: rotateY(40deg); }
    .location__back--btn:hover {
      background-image: linear-gradient(to left, #2775b4, #520909); }
  .location--1 {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../resources/images/l1.jpg);
    background-size: cover;
    background-position: top; }
  .location--2 {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../resources/images/l2.jpg);
    background-size: cover;
    background-position: top; }
  .location--3 {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../resources/images/l4.jpg);
    background-size: cover;
    background-position: top; }
  .location--4 {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../resources/images/l1.jpg);
    background-size: cover;
    background-position: top; }
  .location--5 {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../resources/images/l2.jpg);
    background-size: cover;
    background-position: top; }
  .location__caption--front {
    position: absolute;
    width: 21vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    opacity: 1;
    transition: all .1s;
    backface-visibility: hidden; }
  .location__caption--back {
    position: absolute;
    width: 21vw;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 20%);
    padding: 2rem;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    width: 100%;
    transition: all .1s; }
  .location:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom right, #765de4, #02033f); }
  .location:hover .location__caption--front {
    opacity: 0; }
  .location:hover .location__caption--back {
    opacity: 1; }

.location__image {
  height: 100%;
  width: 100%;
  filter: brightness(70%); }

.btn-full {
  border: none;
  padding: 1rem;
  border-radius: 10rem;
  color: white;
  width: 19rem;
  height: 4rem;
  font-size: 1.5rem;
  position: relative; }
  .btn-full .btn--join {
    position: absolute;
    letter-spacing: 1.5px;
    left: 1rem;
    top: -2rem;
    opacity: 0;
    transition: all .3s; }
  .btn-full .btn--contact {
    position: absolute;
    letter-spacing: 1.5px;
    left: 1.5rem;
    top: 1rem;
    opacity: 1;
    transition: all .3s; }
  .btn-full:hover .btn--join {
    position: absolute;
    left: 2.5rem;
    top: 1rem;
    opacity: 1; }
  .btn-full:hover .btn--contact {
    position: absolute;
    left: 3.8rem;
    top: 3rem;
    opacity: 0; }
  .btn-full:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.btn-basic {
  color: currentColor;
  border: none;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  display: block;
  background-color: transparent;
  transition: all .2s;
  font-weight: 600;
  padding-bottom: .5rem; }
  .btn-basic span {
    margin-left: .5rem;
    transition: margin-left .2s; }
  .btn-basic:hover {
    color: #a7a551;
    transform: scale(1.1); }
  .btn-basic:hover span {
    margin-left: 1.2rem; }
  .btn-basic:focus {
    outline: none;
    animation: pulsate 1s infinite; }
