@keyframes header-slider {       
    25% {
        background-image: url(../../resources/images/header-p3.jpg);
    } 
    60% {  
        background-image: url(../../resources/images/header-p4.jpg);
    }
    75% {
        background-image:url(../../resources/images/header-p1.jpg);
    } 
} 