// @keyframes header-slider {       
//     25% {
//         background-image: url(../../resources/images/header-p1.jpg);
//     } 
//     55% {   
//         background-image: url(../../resources/images/header-p4.jpg);
//     }
//     75% { 
//         background-image:url(../../resources/images/header-p3.jpg); 
//     } 
// }      
  
@keyframes text-main {
    // 0% {
    //     margin-bottom: -5rem;
    //     opacity: 0;  
    // }       
    0% {      
        letter-spacing: 1rem;             
        margin-bottom: -3rem;   
        opacity: 0; 
    }
    40% {  
        letter-spacing: 1.2rem;      
        margin-bottom: -2rem;    
    }  
    100% {    
        letter-spacing: .5rem ; 
    }
}


@keyframes text-sub {
    0% {      
        opacity: 0;
    } 
    70% {            
        opacity: 0;
    } 
    95% {    
        opacity:1 ;
    } 
}

 
@keyframes card-fade-in-right {
    0% {
        transform: translate(-1rem,1rem);   
      
        opacity: 0;  
    }  
    100% {
        transform: translate(0,0);        
        opacity: 1;         
    }       
   
}

@keyframes card-fade-in-left {
    0% {
        transform: translate(1rem,1rem);   
        opacity: 0;  
    }  
    100% {
        transform: translate(0,0);    
        opacity: 1;         
    }       
   
}

@keyframes card-fade-in-up { 
    0% {
        transform: translate(0rem,3rem);   
        visibility: hidden;    
        opacity: 0;   
    }  
    100% {
        transform: translate(0,0);    
        opacity: 1;         
    }       
   
}

.card-fade-in-left {animation-name: card-fade-in-left;}

.card-fade-in-right {  animation-name: card-fade-in-right;}  

.card-fade-in-up {  animation-name: card-fade-in-up;}

 
.js--wp-1-1, 
.js--wp-1-2, 
.js--wp-2-1, 
.js--wp-2-2,   
.js--wp-3-1,  
.js--wp-3-2-1, 
.js--wp-3-2-2,
.js--wp-4-1,
.js--wp-4-2-1, 
.js--wp-4-2-2,
.js--wp-4-2-3, 
.js--wp-4-2-4,
.js--wp-7-1, 
.js--wp-7-2, 
.js--wp-7-3  
{  
    opacity: 0;            
}      

.js--wp-1-1.animate__animated,  
.js--wp-1-2.animate__animated,   
.js--wp-2-1.animate__animated,
.js--wp-2-2.animate__animated,
.js--wp-3-1.animate__animated
.js--wp-3-2-1.animate__animated,
.js--wp-3-2-2.animate__animated,
.js--wp-4-1.animate__animated,
.js--wp-4-2-1.animate__animated,
.js--wp-4-2-2.animate__animated,
.js--wp-4-2-3.animate__animated,
.js--wp-4-2-4.animate__animated,
.js--wp-7-1.animate__animated,
.js--wp-7-2.animate__animated,
.js--wp-7-3.animate__animated{   

    opacity: 1;  
} 



  .animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

/* Fading entrances  */
@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  .animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  
@-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .animate__fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }

  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .animate__fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }