body {
    /* we specify base font attributes in body as the font attributes inherit from parent 
        and body is on top of hirearchy and and all the child elements gets inherited with the properties declared 
        in body selector */
    //font-family: "Lato" ,"Arial", sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    scroll-behavior: smooth;
  }

   
.heading-primary{
    color: #fff;  
    text-transform: uppercase;
    backface-visibility: hidden;

    &--main{
        display: block;           
        font-size: 5.4rem;                                        
        font-weight: 400;        
        letter-spacing: .9rem;    
 
        @media only screen and (max-width: 82em) {      
            font-size: 4.5rem;                      
            letter-spacing: .6rem;        

        } 

        @media only screen and (max-width: 53.15em) {      
            font-size: 4rem;             
        }  
        @media only screen and (max-width: 42em) {      
            font-size: 3rem;              
        }  
        @media only screen and (max-width: 26em) {      
            font-size: 2rem;               
        }  
      
    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.7rem;
    }
}

 
.heading-secondary {
    font-size: 3.5rem; 
    text-transform: uppercase;
    font-weight: 600; 
    letter-spacing: 1.5px; 
    word-spacing: 0.8rem;
    display: inline-block;
    background-image: linear-gradient(to right, rgb(139, 34, 87), rgba(20, 9, 68, 0.952)); 
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    transition: all .2s; 
}

.heading-tertiary { 
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
  }