body {
    /* we specify base font attributes in body as the font attributes inherit from parent 
        and body is on top of hirearchy and and all the child elements gets inherited with the properties declared 
        in body selector */
    font-family: "Lato" ,"Arial", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
   
    
  }

   
.heading-primary{
    color: #fff;  
    text-transform: uppercase;
    backface-visibility: hidden;

    &--main{
        display: block; 
        font-size: 6rem;  
        font-weight: 400;     
        letter-spacing: .5rem;   
        animation-name: moveInLeft 2s ease-In;
      
    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.7rem;
        animation: moveInRight 2s ease-out;
    }
}
