.section-about {            
    margin-top :-10rem; 
    margin-bottom: 5rem;       
    padding: 13rem 3rem 5vw 5rem;        
    background-image: linear-gradient(105deg,#feb249 45%,rgba(255,255,255,0) 72%);
    
    background-size: cover;
    overflow: hidden;      
}    

.section-locations{
    overflow: hidden;  
    margin-top: -13rem;       
    padding: 6rem 0 4rem 0;          
    background-image: linear-gradient(to bottom, #ECEFF1,#ECEFF1);
    -webkit-clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 88%);   
}

.section-academics{
   padding-bottom: 2rem;         
    background-image: linear-gradient(to bottom,  
    #002447 0%,
    #002447 60%,        
    #fff 55%);      
    margin-top: -8rem;
    padding: 8rem;          
    overflow: hidden;        
    @media only screen and (max-width: 79.3em) {                         
        background-image: linear-gradient(to bottom, #002447,  #002447 );
    }   
}  

.section-newsfeed{       
    background-color: #8DB6D2;  
    padding: 4rem 0;                        
    
    overflow: hidden;  
}
  
.section-achivements {  
    background-image:  linear-gradient(to bottom ,rgba(0,0,0,.65),rgba(0,0,0,.65))
                ,url(../../resources/images/accomplishments-bg.jpg);      
    //background-attachment: fixed;    
    background-position: center;            
    background-size: cover; 
    
    padding: 5rem 3rem;       
    overflow: hidden; 
}  
            
.rdd {      
    height: 100vh; 

}