.section+-about {            
    margin-top :-10rem; 
    margin-bottom: 5rem;     
    padding: 11rem 2rem 2vw 2rem;     
    background-image: linear-gradient(to bottom, #ECEFF1,#ECEFF1);
    background-size: cover;
    overflow: hidden;      
}    

.section-locations{
    overflow: hidden;     
    padding: 6rem 0 4rem 0;          
    background-image: linear-gradient(to bottom, #ECEFF1,#ECEFF1);
    -webkit-clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 88%);   
}

.rdd {  
    height: 100vh;

}