.section-about {        
    margin-bottom: 5rem;       
    padding: 3rem 5vw;            
     
    background-size: cover;                          
   // overflow: hidden;
    @include respond(tab-port) {
        padding: 3rem 5vw 5.5rem 5vw;    
    }             
}    
           
.section-locations{     
    overflow: hidden;  
    margin-top: -13rem;       
    padding: 6rem 0 4rem 0;          
    background-image: linear-gradient(to bottom, #ECEFF1,#ECEFF1);
    -webkit-clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 85%);
    clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 88%);   
} 

.section-academics{ 
   padding-bottom: 2rem;         
    background-image: linear-gradient(to bottom,   
    #021220 0%,
    #021220 60%,         
    #fff 55%);        
    margin-top: -8rem; 
    padding: 8rem;               
   // overflow: hidden;        
    @media only screen and (max-width: 79.3em) {                         
        background-image: linear-gradient(to bottom, #002447,  #002447 );
    }   
}  

.section-newsfeed{       
    background-color: #8DB6D2;  
    padding: 4rem 0;                        
    
    overflow: hidden;  
}
  
.section-achivements {  
    background-image:  linear-gradient(to right,rgba(#9b2235,0.3) 15%,rgba(black,0.4) 25%,rgba(#9b2235,0.3) 85%)
                ,url(../../resources/images/accomplishments-bg.jpg);      
    background-attachment: fixed;    
    background-position: center;  
    background-attachment: fixed;           
    background-size: cover; 
    background-blend-mode: hard-light;
    
    padding: 5rem 3rem;       
    overflow: hidden; 
}  
            
.rdd {      
    height: 100vh; 

}