.header {
    height: 98vh;              
    background-image: linear-gradient(to bottom ,rgba(0,0,0,.2),rgba(0,0,0,.9)),url(../../resources/images/header-p3.jpg);   
    filter: brightness(150%);      
    background-size: cover;     
    background-position: left;                 
    
    display:grid;  
    grid-template-rows: min-content 1fr  min-content min-content min-content 1fr;  
     
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); 

    @media only screen and (max-width: 60em) {      
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }  
   &__logo-container {  
       background-color: rgba(#fff, $alpha: .8);           
       filter: brightness(80%);        
       margin: 3vh;        
       justify-self: start;   
       border-radius: 10px;  

   }              

   &__logo {  
        height: 4.8rem;    
   }

   &__text--main {
       justify-self: center; 
       animation: text-main 6.5s; 
        
   }

   &__text-seperator {
       display: grid;    
       grid-template-columns: minmax(11rem, min-content) max-content minmax(12.5rem, min-content) ;         
       align-items: center;  
        justify-self: center; 
       grid-gap: 1rem;  
       color: rgb(255, 255, 255);  
       font-size: 2rem;    
       font-weight: 100;                         
       letter-spacing: .1rem;    
       animation: text-sub 6.5s;       
      
           &::before,
           &::after {
               align-self: center;   
               content: "";           
               display: inline-block;
               height: .5px;          
               transition: all .2s; 
               background-color: white; 
           }
       
           &:hover {

               &::before {   
                   transform: scaleX(1.2) translateX(-2rem); 
                   cursor: pointer;
           }
           }
           &:hover{ 
                &::after { 
               transform: scaleX(1.2) translateX(2rem); 
               cursor: pointer; 
           }
       }
   
   }
  
}    
