.header {
    height: 100vh;               
    background-image: linear-gradient(to bottom ,rgba(0,0,0,.35),rgba(0,0,0,.7)),url(../../resources/images/header-bg.jpg);   
    filter: brightness(150%);      
    background-size: cover;      
    background-position: top;       
    overflow: hidden;   
    @media only screen and (max-width: 75em)  { 
        background-position: left;            
    }
          
    display: grid;  
    grid-template-rows: min-content 1fr;     
    position: relative;        
    &__text {  
         display: flex;
         align-items: center;
         justify-content: center;   
         flex-direction: column;   

    }

      
    a {
        &:link, 
           &:visited { 
            font-family:  sans-serif;
            font-weight: 100;   
            text-decoration: none;
            position: absolute;
            top: 90vh;          
            left: 47%;   
            color: white; 
            font-size: 1.5rem;  
           }       
            
            &:hover,     
            &:active {                   

                border-bottom: 1px solid currentColor;  
            }
           
        }
     
   &__logo-container {  
      background-color: rgb(255, 255, 255);                                               
       filter: brightness(66%);            
       margin: 4vh;                  
       height: 11.2rem;
       width:11.2rem;                            
       justify-self: start;                 
       border-radius: 50%;   
       border: 1px solid white;        

   }                 

   &__logo {        
        height: 9rem;
        margin: 1rem;        
   }  

   &__text--main {
       animation: text-main 5.2s; 
       
       @media only screen and (max-width: 48.75em) { 
       animation: card-fade-in-up 5.2s;     

       }
   }

   &__text-seperator {   
       display: grid;    
       grid-template-columns: minmax(11rem, min-content) max-content minmax(12.5rem, min-content) ;         
       align-items: center;  
        justify-self: center; 
       grid-gap: 1rem;  
       color: rgb(255, 255, 255);  
       font-size: 2rem;    
       font-weight: 100;                         
       letter-spacing: .1rem;    
       animation: text-sub 5.2s;    
            
           &::before,
           &::after {
               align-self: center;   
               content: "";           
               display: inline-block;
               height: .5px;          
               transition: all .2s; 
               background-color: white; 
           }
       
           &:hover {

               &::before {   
                   transform: scaleX(1.2) translateX(-2rem); 
                   cursor: pointer;
           }
           }
           &:hover{ 
                &::after { 
               transform: scaleX(1.2) translateX(2rem); 
               cursor: pointer; 
           }
       }
   
   }
  
}    
