.navigation {
    font-family: 'Josefin Sans', sans-serif;  
   height: 0;
    &__checkbox {
        visibility: hidden;
    }
 
    &__logo {
        height: 11rem;   
        margin-left: 5rem;                       
        display: block; 
    }

     &__button {
        background-color:#fff;      
        height: 5rem;                         
        width: 5.5rem;                     
        position: fixed;  
        top: 10vh;                
        right: 0;    
        z-index: 2000;  
      //  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.13);
        text-align: center;
        cursor: pointer; 
        margin-right: -1px;       
        transition: all .8s linear; 
        // @include respond(tab-port) { 
        //     height: 5rem;
        //     width: 5rem;
        //     position: fixed;
        //     top: 4.5rem;
        //     right: 5rem;
        //   }
    }

 
  
    &__nav {  
        position: fixed;         
        top: 0;     
        right: 0; //if it is right the nav list enters from right 
                   
        background-color: white; 
        // -webkit-clip-path: polygon(22% 0, 100% 0, 100% 100%, 0% 100%);
        // clip-path: polygon(22% 0, 100% 0, 100% 100%, 0% 100%);
        z-index: 1500;  
        height: 100vh;  
        margin-right: -33rem;     
            
        width:33rem;          
        transition: all .8s linear; 
        
    } 
   
    &__list {       
        display: block;               
        list-style: none;
        transform: translate(1%,20vh);                       

    }
  
    &__item {  
        margin:2rem;    
    }

    &__link {
        &:link,
        &:visited {
            //inline elements does not take any padding marginns ext.... it only considers its size.....
            //inline-blocks consideres both its padding and inside content  
            display: inline-block;
            text-decoration: none;
            font-size: 2.5rem;      
            font-weight: 300;   
            padding: .3rem 2rem;     
            color: rgb(40, 17, 59); 
            text-transform: uppercase;
        //    background-image: linear-gradient(130deg ,transparent 0%,transparent 50%,  white 50%);
        //    background-size: 230%; 
            transition: all .3s; 

            span {  
                margin-right: 1rem;       
            }  
        }

        &:hover,  
        &:active {
            border-bottom: .5rem solid rgb(14, 3, 39); 
            transform: translateX(2.5rem);   
            color: rgb(40, 17, 59);       
        } 
    }

    // &__checkbox:checked ~ &__background {
    //   //  transform: scale(80);
    //   top: 4rem; 
    //   right: 10rem; 
    //   width: 10rem;    
    //   height: 100vh; 
   
    // }
    &__checkbox:checked ~ &__nav {
        visibility: visible;  
        height: 100vh;   
        margin-right: 0; 
    } 
    &__checkbox:checked ~ &__button {
       margin-right: 33rem; 
    }
       


    //Icon

    &__icon {
        position: relative;
        margin-top: 2.6rem; 

        // @include respond(tab-port) { 
        //     margin-top: 2.5rem; 
        //   }

        &,
        &::before,  
        &::after { 
            width: 3rem; 
            height: .25rem;          
            background-color: #000; 
            display: inline-block;      
        } 

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;     
            transition: all .2s; 
        }

        &::after {top: -.7rem;  } //  &::after {top: -.7rem; transform-origin: right; } it confirms the center of rotation to right side 
        &::before{top: .7rem;}
    }

    &__button:hover &__icon::before { top: .9rem;}
    &__button:hover &__icon::after { top: -.9rem; }  

    &__checkbox:checked + &__button &__icon { 
        background-color: transparent; 
        &::before { 
            top: 0rem; 
            transform: rotate(135deg); 
        } 
        &::after { 
            top: 0rem;
            transform: rotate(-135deg);  
        } 
        
    }
} 